:root {
    --primary: #F5A9A9;
    --secondary: #10BCBC;
}

/* Update Bootstrap default colors/styles */
.bg-dark {
    background-color: #292929!important;
}

.bg-light {
    background-color: #D6D6D6!important;
}

.text-white {
    color: #D6D6D6!important;
}

.text-dark {
    color: #292929!important;
}

.text-primary {
    color: var(--primary)!important;
}

.text-secondary {
    color: var(--secondary)!important;
}

.link-dark {
    color: #D6D6D6!important;
    text-decoration: none;
    font-size: 1.5rem;
}

.link-light {
    color: #292929!important;
    text-decoration: none;
    font-size: 1.5rem;
}

.link-dark:hover, .link-light:hover {
    text-decoration: underline #10BCBC;
}

