:root {
  --primary: #f5a9a9;
  --secondary: #10bcbc;
}

/* Update Bootstrap default colors/styles */
.bg-dark {
  background-color: #292929 !important;
}

.bg-light {
  background-color: #d6d6d6 !important;
}

.text-white {
  color: #d6d6d6 !important;
}

.text-dark {
  color: #292929 !important;
}

.text-primary {
  color: var(--primary) !important;
}

.text-secondary {
  color: var(--secondary) !important;
}

.link-dark {
  color: #d6d6d6 !important;
  text-decoration: none;
  font-size: 1.5rem;
}

.link-light {
  color: #292929 !important;
  text-decoration: none;
  font-size: 1.5rem;
}

.link-dark:hover,
.link-light:hover {
  text-decoration: underline #10bcbc;
}

/* .card-title {
    text-shadow: 1px 1px white;
} */

.card-img-top {
  height: 50%;
  object-fit: cover;
}

#email:hover span {
  display: none;
}

#email:hover::after {
  content: "rileylum@adam.com.au";
}

#phone-no:hover span {
  display: none;
}

#phone-no:hover::after {
  content: "0434 810 436";
}
